.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
}

.logoText {
    font-family: 'Montez',cursive;
    color: blue;
    font-size: 2rem;
    margin: 0;
}

.subHeading {
    font-family: '"Ubuntu Mono', monospace;
    margin: 0;
}

.btnHolder button{
    background-color: blue;
    border: none;
    color: white;
    padding: 0.5rem;
    margin: 0.4rem;
    cursor: pointer;
    text-align: center;
}

.custButtons {
    margin-top: 7%;
}

.modalFooter{
    text-align: center;
    font-weight: bold;
}

.modalFooter a{
    cursor: pointer;
}